<h3>Trip</h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Trip ID:</strong>
  <%= @trip.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @trip.notes %>
</p>

<p>
  <strong>Dest lat:</strong>
  <%= @trip.dest_lat %>
</p>

<p>
  <strong>Dest long:</strong>
  <%= @trip.dest_long %>
</p>

<p>
  <strong>Departing at:</strong>
  <%= @trip.depart_at %>
</p>

<p>
  <strong>Arriving at:</strong>
  <%= @trip.arrive_at %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @trip.start_at %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @trip.finish_at %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @trip.pin %>
</p>

<p>
  <strong>User:</strong>
  <%= @trip.user.try(:name) %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Destroy', @trip, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', trips_path %>

<div class="container">
  <div class="row">
    <h3>Participants</h3>
    <div class="column">
        <table class="table">
          <thead>
          <tr>
            <th>Email</th>
            <th>Pin</th>
            <th>Name</th>
            <th>Leader</th>
            <th>Lat</th>
            <th>Long</th>
            <th>Departing at</th>
            <th>Arriving at</th>
            <th>Joined at</th>
            <th>Quit at</th>
            <th>Checkin at</th>
            <th>Status</th>
          </tr>
          </thead>

          <tbody>
          <% @participants.each do |participant| %>
              <tr>
                <td><%= link_to participant.email, participant %></td>
                <td><%= participant.pin %></td>
                <td><%= participant.name %></td>
                <td><%= participant.leader %></td>
                <td><%= participant.current_lat %></td>
                <td><%= participant.current_long %></td>
                <td><%= participant.depart_at %></td>
                <td><%= participant.arrive_at %></td>
                <td><%= participant.join_at %></td>
                <td><%= participant.quit_at %></td>
                <td><%= participant.checkin_at %></td>
                <td><%= participant.status %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= link_to 'New Participant', new_participant_path(:trip_id => @trip.id)
  %>
</div>