<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :pin %>
    <%= f.input :name %>
    <%= f.input :leader %>
    <%= f.input :current_lat %>
    <%= f.input :current_long %>
    <%= f.input :depart_at %>
    <%= f.input :arrive_at %>
    <%= f.input :join_at, :include_blank => true %>
    <%= f.input :quit_at, :include_blank => true %>
    <%= f.input :checkin_at, :include_blank => true %>
    <%= f.input :status %>
    <%= f.association :trip %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
